<div class="card">
  <div class="card-header"> Combat - Grid
    <div class="card-header-actions">
      <label class="switch switch-sm switch-label switch-pill switch-outline-primary-alt mb-0 mr-2 align-middle">
        <input type="checkbox" class="switch-input" (click)="onShowGridSettings()">
        <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
      </label> <span class="align-middle"> Grid Settings </span>
    </div>
  </div>
  <div class="card-body">
    <div class="col-md-8 col-lg-8 float-left over">
      <div [hidden]="!gridSettingVisible" class="card p-2">
        <h5>Set squares number: <input class="HPdim" type="number" [(ngModel)]="x" value="x" (ngModelChange)="onGridInit()">
          X
          <input class="HPdim" type="number" [(ngModel)]="y" value="y" (ngModelChange)="onGridInit()">
          <span class="float-right">Set squares dimension:
            <input type="range" min="1" max="4" value="gridDimension" class="slider" [(ngModel)]="gridDimension" value="gridDimension"></span></h5>
      </div>
      <table class="border separate">
        <tr [@gridAnimation]="gridDimension" class="grid border" *ngFor="let row of yAxis; let y = index">
          <td [@gridAnimation]="gridDimension" #cell class="grid border" *ngFor="let col of xAxis; let x = index"
            (click)="onGridClick(x,y,cell)" [ngStyle]="{'background-color': searchCharacterOnGrid(x,y)=='P'?'silver':'white', color: transparent}">
            <i class="fas fa-{{searchCharacterOnGrid(x,y)}} fa-2x" [ngStyle]="{'color': onCheckFriend(x, y) ? 'blue':'red'}"></i>
          </td>
        </tr>
      </table>
    </div>
    <!-- style="width:0px; overflow: hidden;" -->
    <div class="col-md-4 col-lg-4 float-right">
      <tabset>
        <tab>
          <ng-template tabHeading><i></i>Overview</ng-template>
          <h4 class="text-center">{{character.charName}}</h4>
          <div class=" row">
            <div class="newLine">
              <table class="mb-3 table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th class="pl-2 pb-1">Value</th>
                    <th class="pl-2 pb-1">Mod</th>
                    <th class="pl-2 pb-1">Temp</th>
                    <th class="pl-2 pb-1">Tot</th>
                    <th class="pl-2 pb-1 pr-1">TS</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let val of stats; let i = index">
                    <td class="text-center left-radius">{{val.name.substring(0,3)}}</td>
                    <td class="text-center">{{val.value}}</td>
                    <td class="text-center">{{val.modifier > 0 ? "+" : ""}}{{val.modifier}}</td>
                    <td class="text-center"><input class="dim" type="number" name="temp" [(ngModel)]="val.tempValue"
                        value="{{val.tempValue}}" (change)="onTempModify(i)"></td>
                    <td class="text-center">{{val.totValue > 0 ? "+" : ""}}{{val.totValue}}</td>
                    <td class="text-center right-radius"><i *ngIf="val.savingThrow==1" class="fas fa-star" style="color:  gold"></i>
                      <i *ngIf="val.savingThrow==0" class="far fa-star" style="color: rgb(199, 197, 197)"></i></td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="text-center highFont newLine2">
              <p class="pt-3 font-weight-bold mb-2">Current HP</p>
              <p><input class="HPdim" type="number" [(ngModel)]="character.current_hp" style="direction: rtl" (change)="onChangeAttribute('current_hp',character.current_hp)">
                / {{character.hp}}</p>
              <p class="pt-2 font-weight-bold mb-2">Current MP</p>
              <p><input class="HPdim" type="number" [(ngModel)]="character.current_mana" style="direction: rtl"
                  (change)="onChangeAttribute('current_mana',character.current_mana)"> / {{character.mana}}</p>
            </div>
          </div>
          <div class="text-center">
            <span class="font-weight-bold">Profiency bonus: </span> <span>{{character.proficiencyBonus}}</span>
            <span class="ml-5 font-weight-bold">AC: </span> <span> {{character.armorClass}}</span>
          </div>
          <!-- <table class="mt-3 maxWidth">
            <thead>
              <tr>
                <th class="text-center">Weapon</th>
                <th class="text-center">Modifier</th>
                <th class="text-center">Damage</th>
                <th class="text-center">Tot Bonus</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Spada Lunga</td>
                <td class="text-center">+1</td>
                <td class="text-center">d8</td>
                <td class="text-center">XX</td>
              </tr>
            </tbody>
          </table> -->
          <hr>
           <div class="text-center">
            <h3>Last dice throw</h3>
            <div>{{diceThrow}}</div>
          </div> 
          <hr>
          <div class="text-center">
            <h4>Characters</h4>
            <table class=" m-2 p1 maxWidth">
              <tr *ngFor="let pg of sessionPlayers ; let ind=index">
                <td class="pr-2 pl-2 pb-1 text-center"><i *ngIf="ind==turn" class="fas fa-caret-right"></i></td>
                <td class="pr-2 pl-2 pb-1 text-center highFont"><span [tooltip]="tooltip[ind]" triggers="click" (click)="onChangeChar(ind)">{{pg.charName}}</span></td>
                <td [hidden]="inModify[ind]" class="pr-2 pl-2 pb-1 text-center highFont">{{pg.initiative}}</td>
                <td [hidden]="!inModify[ind]" class="pr-2 pl-2 pb-1 text-center highFont">
                  <input class="HPdim" type="number" style="direction: rtl" [(ngModel)]="pg.initiative" value="{{pg.initiative}}">
                </td>
                <td [hidden]="inModify[ind]" class="pr-2 pl-2 pb-1 text-center highFont">Grid: {{pg.gridNumber}}</td>
                <td [hidden]="!inModify[ind]" class="pr-2 pl-2 pb-1 text-center highFont">
                  <input class="HPdim" type="text" style="direction: rtl" [(ngModel)]="pg.gridNumber" value="{{pg.gridNumber}}">
                </td>
                <td class="pr-2 pl-2 pb-1 text-center"><button [hidden]="inModify[ind]" class="btn btn-block btn-sm btn-outline-primary"
                    type="button" (click)="onEditInitiative(ind, pg.charName)"><i class="fas fa-pen"></i></button>
                  <button [hidden]="!inModify[ind]" class="btn btn-block btn-sm btn-outline-success save-btn" type="button"
                    (click)="onSaveInitiative(ind)"><i class="fas fa-save save-icon"></i></button></td>
                <td class="pr-2 pl-2 pb-2 text-center"><button [hidden]="inGrid[ind]" class="btn btn-block btn-sm btn-outline-primary"
                    (click)="onArrange(ind, pg.charName)" type="button"><i class="fas fa-th"></i></button>
                  <button [hidden]="!inGrid[ind]" class="btn btn-block btn-sm btn-outline-success save-btn" type="button"><i
                      class="fas fa-save save-icon"></i></button></td>
                <td class="pr-2 pl-2 pb-2 text-center"><button class="btn btn-block btn-sm btn-outline-danger" type="button"><i
                      class="fas fa-trash-alt"></i></button></td>
              </tr>
            </table>
            <div class="row pb-4">
              <div class="col-md-6 col-lg-6">
                <button class="btn btn-block btn-ghost-submit active" type="button" (click)="onNextTurn()">Next turn</button>
              </div>
              <div class="col-md-6 col-lg-6">
                <button class="btn btn-block btn-ghost-warning active" type="button">Go back</button>
              </div>
            </div>
            <div [hidden]="!isMasterSession" class="row">
              <div class="col-md-5 col-lg-5 pr-1">
                <input type="text" class="form-control" placeholder="Add a character" #newCharName>
              </div>
              <div class="col-md-2 col-lg-2 pl-1 pr-1">
                <input type="number" class="form-control" placeholder="Init" #newInit>
              </div>
              <div class="col-md-2 col-lg-2 pl-1 pr-1">
                <input type="text" class="form-control" placeholder="Grid" #newGridNum>
              </div>
              <div class="col-md-3 col-lg-3">
                <button class="btn btn-block btn-ghost-success active" (click)="onAddNpc(newCharName.value, newInit.value, newGridNum.value)"
                  type="button">Add</button>
              </div>
            </div>
          </div>
        </tab>
        <tab>
          <ng-template tabHeading><i></i>Note/Dices</ng-template>
          <div class="text-center">
            <h4><i class="fas fa-edit pb-3"></i> Write your notes</h4>
            <textarea class="form-control" cols="30" rows="10" [(ngModel)]="character.note" placeholder="Insert your notes here">{{character.note}}</textarea>
            <div class="row pb-3 pt-3">
              <div class="col-md-6 col-lg-6">
                <button class="btn btn-block btn-ghost-success active" type="button" (click)="onChangeAttribute('note',character.note)">Save</button>
              </div>
              <div class="col-md-6 col-lg-6">
                <button class="btn btn-block btn-ghost-danger active" type="button" (click)="onResetNote()">Reset</button>
              </div>
            </div>
            <hr>
            <h4><i class="fas fa-dice pb-2"></i> Dices</h4>
            <table class="maxWidth">
              <tbody>
                <tr *ngFor="let icon of diceArray; let i = index">
                  <td><img style="width: 26px; height: auto;" src="assets/img/brand/{{icon.name}}" alt=""></td>
                  <td>{{icon.type}}</td>
                  <td>X <input class="HPdim" type="number" [(ngModel)]="icon.number" value="icon.number"></td>
                  <td class="pr-3"> = {{icon.value}} </td>
                  <td><button class="btn btn-block btn-sm btn-outline-primary" type="button" (click)="onDiceThrow(i)">Throw</button></td>
                  <td><button class="btn btn-block btn-sm btn-outline-danger" type="button" (click)="onDiceReset(i)">Reset</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </tab>
        <tab>
          <ng-template tabHeading><i></i>Buffs</ng-template>
          To be implemented...
        </tab>
      </tabset>
    </div>
  </div>
</div>