input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.width100 {
    width: 100%;
}
.width30 {
    width: 30%;
    //TO DO
//    border: none;
}
.width50 {
    width: 50%;
}
.square {
     width: 60px;
     height: 60px;
     text-align: center;
}
.minisquare {
width: 30px;
height: 30px;
text-align: center;
margin-bottom: 10px;
}
.inline {
    display: inline;
    border: 1px solid;
    text-align: center;
}
.width30px {
    width: 30px;

}
.rectagleH70px {
height: 70px;
width: 100%;
display: block
}
.p-inerith {
    padding:inerith
}
.rectagleW50 {
    height: 70px;
    width: 50%
}
.width50 {
    width: 50%
}
.margin-top40 {
    margin-top: 40px
}

.container {
    margin: 0;
    display: flex;
    justify-content: center;
    max-width: 100% !important;

  }
  
  #input-form {
      position: absolute;
      z-index: 1;
      & input{
          position: absolute;
          background: transparent;
          border: 1px solid lightblue;
          text-align: center
      }
      & label{
        position: absolute;
        background: transparent;
        text-align: center;
        font-size: 10px;
        vertical-align: middle;
      }
  }