<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-5">
          <input type="text" value="characterName" [(ngModel)]="characterName" placeholder="Nome personaggio" class="width100">
        </div>
        <div class="col-7">
          <input type="text" value="characterCL" [(ngModel)]="characterCL" placeholder="Classe & livello" class="width30">
          <input type="text" value="characterBG" [(ngModel)]="characterBG" placeholder="Background" class="width30">
          <input type="text" value="playerName" [(ngModel)]="playerName" placeholder="Nome giocatore" class="width30">
          <input type="text" value="characterRace" [(ngModel)]="characterRace" placeholder="Razza" class="width30">
          <input type="text" value="characterAlignment" [(ngModel)]="characterAlignment" placeholder="Allineamento" class="width30">
          <input type="text" value="characterExp" [(ngModel)]="characterExp" placeholder="Punti esperienza" class="width30">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="row">
            <div class="col-4 border text-center">
              <input type="number" value="strenghtValue" [(ngModel)]="strenghtValue" placeholder="FOR" class="square">
              <input type="number" value="strenghtModifier" [(ngModel)]="strenghtModifier" class="minisquare">
              <br>
              <input type="number" value="dexterityValue" [(ngModel)]="dexterityValue" placeholder="DES" class="square">
              <input type="number" value="dexterityModifier" [(ngModel)]="dexterityModifier" class="minisquare">
              <br>
              <input type="number" value="constitutionValue" [(ngModel)]="constitutionValue" placeholder="COS" class="square">
              <input type="number" value="constitutionModifier" [(ngModel)]="constitutionModifier" class="minisquare">
              <br>
              <input type="number" value="inteligenceValue" [(ngModel)]="inteligenceValue" placeholder="INT" class="square">
              <input type="number" value="inteligenceModifier" [(ngModel)]="inteligenceModifier" class="minisquare">
              <br>
              <input type="number" value="wisdomValue" [(ngModel)]="wisdomValue" placeholder="SAG" class="square">
              <input type="number" value="wisdomModifier" [(ngModel)]="wisdomModifier" class="minisquare">
              <br>
              <input type="number" value="charismaValue" [(ngModel)]="charismaValue" placeholder="CAR" class="square">
              <input type="number" value="charismaModifier" [(ngModel)]="charismaModifier" class="minisquare">
            </div>
            <div class="col-8 border">
              <input type="checkbox" value="inspiration" class="inline">
              <label class="inline text-center pl-5 pr-5"> Ispirazione
              </label>
              <input type="number" value="characterProfienct" class="minisquare">
              <label class=" inline text-center pl-3 pr-3"> Bonus competenza
              </label>
              <div class="width100 border">
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td class="width30px">
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Forza </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td>
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Destrezza </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td>
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Costituzione </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td>
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Intelligenza </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td>
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Saggezza </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td>
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Carisma </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="text-center">
                  <span>Tiri salvezza</span>
                </div>
              </div>
              <div class="width100 border">
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td class="width30px">
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Acrobazia (Des) </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td class="width30px">
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Addestrare Animali (Sag) </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td class="width30px">
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Arcano (Int) </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td class="width30px">
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Atletica (For) </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td class="width30px">
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Furtività (Des) </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td class="width30px">
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Indagare (Int) </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td class="width30px">
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Inganno (Car) </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td class="width30px">
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Intimidire (Car)) </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td class="width30px">
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Intrattenere (Car) </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td class="width30px">
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Intuizione (Sag) </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td class="width30px">
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Medicina (Sag) </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td class="width30px">
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Natura (Int) </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td class="width30px">
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Percezione (Sag) </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td class="width30px">
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Persuasione (Car) </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td class="width30px">
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Rapidità di mano (Des) </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td class="width30px">
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Religione (Int) </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td class="width30px">
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Sopravvivenza (Sag) </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td class="width30px">
                        <input type="number" class="width100">
                      </td>
                      <td>
                        <span> Storia (Int) </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="text-center">
                  <span> Abilità </span>
                </div>
              </div>
            </div>
          </div>
          <div class="border">
            <input type="number" class="minisquare">
            <label>
              Saggezza (percezione) passiva
            </label>
          </div>
          <div class="border">
            <textarea cols="50" rows="5">
            </textarea>
            <div class="text-center">
              <span>
                Altre competenze e linguaggi
              </span>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <div class="text-center width100">
              <input type="number" class="square ml-3 mr-3 mt-2 mb-2" value="characterAc" [(ngModel)]="characterAc"
                placeholder="CA">
              <input type="number" class="square ml-3 mr-3 mt-2 mb-2" value="characterInitiative" [(ngModel)]="characterInitiative"
                placeholder="Iniz">
              <input type="number" class="square ml-3 mr-3 mt-2 mb-2" value="characterSpeed" [(ngModel)]="characterSpeed"
                placeholder="Vel">
            </div>
          </div>
          <div class="border width100">
            <div class="border">
              <input type="number" value="characterHp" [(ngModel)]="characterHp" class="minisquare">
              <label>
                Punti ferita totali
              </label>
            </div>
            <div class="text-center">
              <input type="number" class="rectagleH70px">
              <span>
                Punti ferita attuali
              </span>
            </div>
          </div>
          <div class="row" style="padding: inherit">
            <div class="border col-6">
              <input type="number" class="minisquare">
              <label>
                Totale
              </label>
              <br>
              <input type="number" class="rectagleW50" placeholder="Dadi vita">
            </div>
            <div class="border col-6">
              <table>
                <tbody>
                  <tr>
                    <td>
                      <span>
                        Successi
                      </span>
                    </td>
                    <td>
                      <input type="checkbox">
                    </td>
                    <td>
                      <input type="checkbox">
                    </td>
                    <td>
                      <input type="checkbox">
                    </td>
                  </tr>
                  <tr>
                      <td>
                        <span>
                          Fallimenti
                        </span>
                      </td>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td>
                        <input type="checkbox">
                      </td>
                      <td>
                        <input type="checkbox">
                      </td>
                    </tr>
                </tbody>
              </table>
              <div class="text-center" class="margin-top40">
                TS contro morte
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>