<app-header [navbarBrandFull]="{src: 'assets/img/brand/DnDLogo.png', width: 140, height: auto}" [sidebarToggler]="false"
  [asideMenuToggler]="false">
  <!-- <div class="pl-5 ml-5"><strong>{{ headTitle }}</strong></div> -->
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <i class="fa fa-user-circle-o fa-2x"> <span class="caret"> </span></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> boh1</a> -->

        <!-- <div class="dropdown-header text-center"><strong>Settings</strong></div> -->
        <!-- <a class="dropdown-item" href="#"><i class="fa fa-user"></i> boh2</a> -->

        <div class="divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-cog"></i> Settings</a>
        <a class="dropdown-item" href="/login"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>

<div class="card m-4">
  <div class="card-header text-center">
    <h3>Select your campaign</h3>
  </div>
  <div class="row">
    <div class="col-4 p-5" *ngFor="let session of sessions">
      <div class="card">
        <div class="card-body row">
          <div class="col-4 clickable border-right" (click)="openModal(template,session.session_id, session.session_master)">
            <img style="width: 100%; height: auto;" src="assets/img/campIcon/alchemy.svg">
          </div>
          <div class="col-8 clickable text-center" (click)="openModal(template,session.session_id, session.session_master)">
            <h6>Campaign name</h6>
            <p>{{session.session_name}}</p>
            <h6>Dungeon Master</h6>
            <p>{{session.session_master}}</p>
          </div>
        </div>

      </div>
    </div>
    <div class="col-4 p-5">
      <div class="card">
        <div class="card-body row">
          <div class="col-4 clickable border-right" (click)="onNewSession()">
            <img style="width: 100%; height: auto;" src="assets/img/campIcon/alchemy.svg">
          </div>
          <div class="col-8 clickable text-center" (click)="onNewSession()">
            <h6>Campaign name</h6>
            <p>New Session</p>
            <h6>Dungeon Master</h6>
            <p>TBD</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Campagna di Flavio: select your character</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card" *ngFor="let account of currentAccount">
      <div class="card-body row p-2">
        <div class="col-3 text-center border-right clickable" (click)="onSelectCharacter(account.charName,account.session_id)"><i class="fas fa-{{account.alive==true?account.gridNumber:'skull'}} fa-2x"></i></div>
        <div class="col-3 text-center clickable" (click)="onSelectCharacter(account.charName,account.session_id)">
          <h6>Name: </h6>{{account.charName}}
        </div>
        <div class="col-3 text-center clickable" (click)="onSelectCharacter(account.charName,account.session_id)">
          <h6>Alive: </h6>{{account.alive}}
        </div>
        <!-- <div class="col-3 text-center clickable" (click)="onSelectCharacter()"><h6>Race: </h6> </div>
        <div class="col-3 text-center clickable" (click)="onSelectCharacter()"><h6>LV: </h6> 9</div> -->
      </div>
    </div>
    <div class="card">
      <div class="card-body row p-2">
        <div class="col-3 border-right clickable" (click)="onNewCharacter()"><i class="fas fa-dragon"></i></div>
        <div class="col-8 text-center clickable" (click)="onNewCharacter()">
          Create New Character
        </div>
        <!-- <div class="col-3 text-center clickable" (click)="onSelectCharacter()"><h6>Race: </h6> </div>
        <div class="col-3 text-center clickable" (click)="onSelectCharacter()"><h6>LV: </h6> 9</div> -->
      </div>
    </div>
  </div>
</ng-template>